
<div class="content">
<div class="top">
<h3 class="articles well text-danger">Listing Articles
<div class="pull-right new-article" data-toggle="modal" data-target="#myModal" style="margin-bottom:1em">
<!--<%= link_to '+', new_article_path %>-->
   <a href="#">+</a> 
</div></h3>


</div>
<!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mod-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Article</h4>
      </div>
      <div class="modal-body"><% @article = Article.new%>
        <%= render 'form' %>
      </div>
      <div class="modal-footer mod-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> 
<!--<table class="table table-hover table-responsive">
 <thead class="">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 </thead>
 <tbody> -->
  <% @articles.each do |article| %>
    <!-- <tr> -->
    <div class="article" data-toggle="modal" data-target="#show-<%=article.id%>" style="margin-bottom:0.5em">
      <a href="#">
       <div class="article-title">
        <span class=" title"><%= article.title %></span>
        <a href="<%=edit_article_path(article) %>" data-toggle="modal" data-target="#<%=article.id%>">
        <span class="glyphicon trash-btn pull-right glyphicon-trash"></span>
        </a>
        <span data-toggle="modal" data-target="#<%=article.id%>,#show-<%=article.id%>" class="glyphicon edit-btn pull-right glyphicon-edit">
        </span>
      
      </div>
      <div class=" text-danger article-text" ><%= article.text %></div>
      </a>
      
</div>
<div id="show-<%=article.id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mod-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= article.title %></h4>
      </div>
      <div class="modal-body"><% @article = article%>
        <%= render :template => 'articles/show' %>
      </div>
      <div class="modal-footer mod-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
      </div>
      

  </div> 
<div id="<%=article.id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mod-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Article</h4>
      </div>
      <div class="modal-body"><% @article = article%>
        <%= render 'form' %>
      </div>
      <div class="modal-footer mod-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
      </div>
      

  </div>
    <!-- </tr> -->
  <% end %>
 <!--  </tbody>
</table> -->
</div>
