<!DOCTYPE html>
<html>
  <head>
    <title>ABlog</title>
    <%= csrf_meta_tags %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet"></link>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="container" style="">
<nav class="navbar nav-bar nav-bar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div  class="collapse-button glyphicon glyphicon-menu-hamburger coll-btn navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="navbar-brand logo" href="#"><%= link_to 'ABlog', root_path %></div>
    </div>
    <div class="collapse links navbar-collapse" id="myNavbar">
      
      <ul class="nav coll navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#" data-toggle="modal" data-target="#signup-modal"><span class="glyphicon glyphicon-log-in"></span> SignUp</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mod-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <%= render :template => 'sessions/login' %>
      </div>
      <div class="modal-footer mod-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
      </div>
    </div>

  </div>
</div>
<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mod-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Signup</h4>
      </div>
      <div class="modal-body">
      <% @user=User.new%>
        <%= render :template => 'sessions/signup' %>
      </div>
      <div class="modal-footer mod-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
      </div>
    </div>

  </div>
</div>
    <%= yield %>
    <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
  </body>
</html>
